


.fullscreen {
    width: 100vw;    /* Viewport width */
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.child {
    flex: 1;                 /* Each child takes equal space */
    height: 100%;            /* Full height of parent */
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}
  

.left-container {
    background-color: blue;
}

.right-container {
    background-color: red;
}



