


.fullscreen {
    width: 100vw;    /* Viewport width */
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right,#E0D451,#30ED36, #fcec32,#05f00d);
    background-size: 300% 100%;
    transition: background-position 2s ease;
}

.fullscreen:hover {
    background-position: 100% 0;  /* Shift gradient to the right */
}


.parent-container {
    height: 80%;
    width: 80%;
    display: flex;
    background-color: grey;
    border-radius: 15px;
}

.child {
    width: 100%;
}

.right-container {
    border: 2px solid blue;
    border-radius: 0px 14px 14px 0px;
}

.left-container {
    border: 2px solid red;
    border-radius: 14px 0px 0px 14px;
}


.top-right {
    display: inline;
    
}

.info-inputs {
    display: inline;
    width: 100px;
    
}

.first-last-name {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #30ED36;
}


.email-password-inputs {
    display: flex;
    flex-direction: column;''ss0psssdfeeeeeee000ff
    border: 2px solid red;
    padding-inline: 80px;
    gap: 10px;
}

.first-last-name input {
    font-size: 30px;
}

.email-password-inputs input{
    flex: 1;
    font-size: 30px;
}

  





/*
.top-left p {
    background: linear-gradient(to right,
    #E0D451,
    #30ED36,
    #fcec32,
    #05f00d 
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-position 3s ease;
} */






























.buttoon {
    padding: 12px 35px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right,
    #E0D451,  /* Start color 1 */
    #30ED36,  /* Start color 2 */
    #fcec32,  /* Hover color 1 */
    #05f00d   /* Hover color 2 */
    );
    background-size: 300% 100%;
    transition: all 1.2s ease;
}

.buttoon:hover {
    transform: scale(1.4); /* smooth growth */
    background-position: 100% 0;  /* Shift gradient to the right */
  }


