


.fullscreen {
    width: 100vw;    /* Viewport width */
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.child {
    height: 100%;            /* Full height of parent */
    display: flex;
    align-items: center;     /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}
  

.left-container {
    background-color: #60aed4;
    border-radius: 0px 15px 15px 0px;  /* TL, TR, BR, BL */
    width: 20%;
    align-items: flex-start;  
}

.top-left {
    display: flex;
    gap: 5px;
}

.top-left p {
    background: linear-gradient(to right,
    #E0D451,  /* Start color 1 */
    #30ED36,  /* Start color 2 */
    #fcec32,  /* Hover color 1 */
    #05f00d   /* Hover color 2 */
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-position 3s ease;
}

.top-left p:hover {
    background-position: 100% 0;  /* Shift gradient to the right */
}

.left-container img {
    width: 50px;
    object-fit: contain;
}


.right-container {
    background-color: white;
    width: 80%;
    display: inline;
    justify-content: center;
}

.header {
    background-color: #30ED36;
    height: 15%;
    display: flex;           /* Enable flexbox */
    justify-content: center;
    align-items: center;     
}

.footer {
    border: 2px solid green;
    height: 85%;
}



