


.fullscreen {
    width: 100vw;    /* Viewport width */
    height: 100vh; 
    border: 2px solid red;
}

.left-container {
    border: 2px solid blue;
    border-right: 2px solid
    width: 50%;
}



