


.fullscreen {
    width: 100vw;    /* Viewport width */
    height: 100vh;
    display: flex;
}

.left-container {
    border: 2px solid blue;
}

.left-container {
    border: 2px solid green;
}



